# Copy this file to .env and add your keys

# Agent Switch
LLM_PROVIDER=openai #openai or ollama

# Everything below should not be changed, unless necessary.

# API Keys
# OPENAI_KEY is your OpenAI API key.
# TAVILY_API_KEY is your Tavily API key (used for the UMN site search).
OPENAI_KEY=
TAVILY_API_KEY=

# URL
REACT_APP_API_BASE=http://localhost:8000/ 

# PostGres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=gophergpt
POSTGRES_PASSWORD=gophergpt
POSTGRES_DB=gophergpt

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
